body {
    font-family: 'Roboto', sans-serif;
}
.input-field {
    min-width:700px;
    height:200px;
    display:block;
    margin:0 auto;      
    resize:none;
    border-radius: 2%;
}

.keyboard {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px auto;
    max-width:880px;
    height:310px;
    padding:10px;
    border: 1px solid rgb(161, 82, 82);
    border-radius: 10px;
    background-color: rgb(82, 90, 88);
}

.keyboard__key {
    margin: 3px;
    padding:5px;
    background:rgb(24, 25, 26);
    border-radius: 5px;
    color:#fff;
    font-size:17px;
    width:42px;
    height:40px;
    text-align:center;
    line-height: 40px;
    user-select: none; 
}
.key-letter {
    background:rgb(114, 122, 131);
}

.key-special {
    min-width: 100px;
}

.space {
    min-width:400px;
}

.keyboard__key:hover {
    background-color:rgb(109, 171, 196);
    cursor:pointer;
    
}
.keyboard__key--active,
.keyboard__key:active {
    background-color: rgb(61, 184, 137);
    position:relative;
     top: 2px;
    left: 2px; 
    transition:  0.3s;
}

.system-description,
.language-description {
    text-align: center;
}